<div class="project-page"  *ngIf="sectionList$ | async as sectionList">
  <div class="header">
    <h1>{{ project.project_name }}</h1>
    <div class="date">
      <div>
        <span class="t">Start Date:</span>
        {{ project.start_date | date: "mediumDate" }}
      </div>
      <div>
        <span class="t">Target Date:</span>
        {{ project.target_date | date: "mediumDate" }}
      </div>
    </div>
  </div>
  <div class="section-list">
    <div *ngFor="let section of sectionList">
      <section [section]="section"></section>
    </div>
  </div>
  <button
  mat-stroked-button
  color="primary"
  class="addButton"
  (click)="openDialog()"
>
  Add Section
</button>
</div>
