.project-page {
  background-color: rgb(28, 20, 58);
  width: 100%;
  height: 100%;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}

.header h1 {
  box-sizing: border-box;
  color: aliceblue;
  font-size: 38px;
  padding: 20px 0px 0px 30px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  margin: 0px;
  height: 70px;
}

.date {
  box-sizing: border-box;
  color: aliceblue;
  font-family: monospace;
  font-size: 16px;
  padding: 20px 0px 0px 30px;
  height: 70px;
}

.t {
  display: inline-block;
  text-align: left;
  width: 140px;
}

.section-list {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.addButton {
  margin-top: 30px;
  border-color: rgb(240, 248, 255);
  margin-left: 50%;
  transform: translateX(-50%);
  position: pos;
  color: rgb(240, 248, 255);
  text-align: center
}
.addButton:hover {
  background-color: #f06292;
}
