<div class="project-page" *ngIf="project">
  <div class="header">
    <h1>{{ project.project_name }}</h1>
    <div class="date">
      <div>
        <span class="t">Start Date:</span>
        {{ project.start_date | date: "mediumDate" }}
      </div>
      <div>
        <span class="t">Target Date:</span>
        {{ project.target_date | date: "mediumDate" }}
      </div>
    </div>
  </div>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropSection($event)"
    [cdkDropListData]="sectionList"
    class="section-list"
  >
    <div *ngFor="let section of sectionList" cdkDrag>
      <section
        [section]="section"
        [connectedLists]="getSectionIDs(sectionList)"
        (changeSection)="changeSection($event)"
      ></section>
    </div>
  </div>
  <div class="section-list-options">
    <span class="material-icons" (click)="addSectionDialog()"> add_box </span>
    <span class="material-icons" (click)="editProject()"> create</span>
    <span class="material-icons" (click)="deleteProject()"> delete </span>
  </div>
</div>
