<mat-accordion *ngIf="task">
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    hideToggle="true"
    class="task"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="title">{{ task.heading }}</div>
        <div class="drop-down">
          <span class="material-icons" *ngIf="panelOpenState">
            expand_less
          </span>
          <span class="material-icons" *ngIf="!panelOpenState">
            expand_more
          </span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="noteList">
      <div *ngFor="let note of noteList">
        <note [note]="note" (changeNote)="changeNote($event)"></note>
      </div>
    </div>
    <div class="task-options">
      <span class="material-icons" (click)="addNoteDialog(task.id)">
        add_box
      </span>
      <span class="material-icons" (click)="editTask()"> create</span>
      <span class="material-icons" (click)="deleteTask()"> delete </span>
    </div>
  </mat-expansion-panel>
</mat-accordion>
