.task {
  max-width: 500px;
  background: rgb(232, 232, 248);
  margin: 15px;
  margin-bottom: 20px;
}

.task:hover {
  background-color: var(--orange);
}

.title {
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 5px;
  padding-left: 15px;
  font-weight: 600;
}
