.navbar {
  display: flex;
  background-color: var(--blue);
  align-items: center;
  height: 70px;
  font-family: "Noto Sans JP", sans-serif;
  padding: 0px;
  margin: 0px;
}

.navbar-left {
  display: flex;
  width: 400px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.navbar-right {
  display: flex;
  width: 400px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.title {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 26px;
  font-family: monospace;
  width: 400px;
  box-sizing: border-box;
  text-align: center;
}

.navbar a {
  display: block;
  color: white;
  line-height: 20px;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: var(--orange);
}
