<div
  class="navbar"
  *ngIf="currentUserSession$ | async as session"
  [ngStyle]="{
    'justify-content': session?.access ? 'space-between' : 'center'
  }"
>
  <div class="navbar-left" *ngIf="session.access">
    <a routerLink="/main">Home</a>
    <a routerLink="/main">Projects</a>
  </div>

  <div class="title">Liam's Trello Clone</div>

  <div class="navbar-right" *ngIf="session.access">
    <a routerLink="/user"> {{ session?.username }}</a>
    <a [routerLink]="" (click)="logout()"> Logout </a>
  </div>
</div>
