<div class="user-page">
  <div *ngIf="user$ | async as user">
    <mat-card class="user-details">
      <mat-card-title> User Details: </mat-card-title>
      <mat-card-content>
       <ul>
           <li>ID: {{user.id}}</li>
           <li>First Name: {{user.first_name}}</li>
           <li>Surname: {{user.last_name}}</li>
           <li>Username: {{user.username}}</li>
           <li>Email: {{user.email}}</li>
           <li>Project IDs: [{{user.projects}}]</li>
       </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
