.user-page {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  overflow: auto;
  color: white;
  display: flex;
  justify-content: center;
}

.user-info {
  transform: translate(0px, -100px);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.user-field {
  width: 300px;
  margin: 20px 0px;
  font-size: large;
}

.options {
  display: flex;
  justify-content: center;

}

.button{
  margin: 0px 20px;
}
