<h1 mat-dialog-title>Create a Section</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field class="field">
    <mat-label>Heading</mat-label>
    <mat-error *ngIf="heading.invalid">Required</mat-error>
    <input matInput [(ngModel)]="data.heading" formControlName="heading" />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Description</mat-label>
    <mat-error *ngIf="description.invalid">Required</mat-error>
    <input
      matInput
      [(ngModel)]="data.description"
      formControlName="description"
    />
  </mat-form-field>
</div>

<div mat-dialog-actions class="options">
  <button mat-stroked-button (click)="onNoClick()">Cancel</button>
  <button
    mat-stroked-button
    cdkFocusInitial
    [mat-dialog-close]="data"
    [disabled]="form.invalid"
  >
    Create
  </button>
</div>
