.dialog {
  height: 400px;
}

.field {
  padding: 15px 0px;
  margin-left: 60px;
}

.button {
  margin: 0px 10px;
}

h1 {
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
}
