.project {
  background: var(--blue);
  margin: 15px 15px;
  min-width: 300px;
  min-height: 150px;
  border-radius: 5px;
}

.project:hover {
  background-color: var(--orange);
}

.title {
  color: white;
  font-size: 26px;
  padding: 20px 0px 10px 30px;
  font-weight: 400;
}

.description {
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 0px 0px 0px 30px;
  font-size: 18px;
}

.date {
  color: white;
  font-family: monospace;
  font-size: 16px;
  text-align: left;
  padding: 10px 0px 0px 30px;
}

.t {
  display: inline-block;
  width: 140px;
  text-align: left;
}
