$md-blue: (
  50: #e1eef7,
  100: #b3d4ea,
  200: #80b7dc,
  300: #4d9ace,
  400: #2785c4,
  500: #016fb9,
  600: #0167b2,
  700: #015caa,
  800: #0152a2,
  900: #004093,
  A100: #bed6ff,
  A200: #8bb5ff,
  A400: #5894ff,
  A700: #3f84ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$md-orange: (
  50: #fff2e1,
  100: #ffdfb4,
  200: #ffca82,
  300: #ffb550,
  400: #ffa52b,
  500: #ff9505,
  600: #ff8d04,
  700: #ff8204,
  800: #ff7803,
  900: #ff6701,
  A100: #ffffff,
  A200: #fff7f2,
  A400: #ffd5bf,
  A700: #ffc4a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-red: (
  50: #fdeae4,
  100: #f9cabc,
  200: #f6a790,
  300: #f28363,
  400: #ef6941,
  500: #ec4e20,
  600: #ea471c,
  700: #e73d18,
  800: #e43513,
  900: #df250b,
  A100: #ffffff,
  A200: #ffdad6,
  A400: #ffaba3,
  A700: #ff948a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
