.note{
    display: flex;
    background-color: var(--blue) ;
    color: white;
    padding: 4px;
    margin: 10px 5px;
    border-radius: 5px;
}

.note:hover{
    color: var(--orange);
}

.content{
    padding: 0px 5px;
    margin: auto;
    margin-left: 10px
}

.material-icons{
    cursor: pointer;
    margin: 2px;
    color: white !important
}

.material-icons:hover{
    color: var(--orange) !important;
}




