<div cdkDropListGroup class="section" *ngIf="taskList">
  <h2>{{ section.heading }}</h2>

  <div
    cdkDropList
    id="{{ section.id }}"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="taskList"
    [cdkDropListConnectedTo]="connectedLists"
    class="tasklist"
  >
    <div *ngFor="let task of taskList">
      <div cdkDrag [cdkDragDisabled]="!dragAllowed">
        <task [task]="task" (changeTask) ="changeTask($event)"></task>
      </div>
    </div>
  </div>
  <div class="section-options">
    <span class="material-icons"(click)="addTaskDialog(section.id)" > add_box </span>
    <span class="material-icons" (click)="editSection()"> create</span>
    <span class="material-icons" (click)="deleteSection()"> delete </span>
  </div>
</div>
